# Ignore all files
*

# Unignore all files with extensions
!*.*

# Unignore all directories/subdirectories
!*/*

# Ignore Mac OS X system icon files
.DS_Store

# Ignore anything that gets build
*/build/*

# Ignore files in binary directory dumps
*/bin/*
